name: Tests

on:
  push:
  pull_request:

jobs:
  run-unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "18"
          cache: "maven"

      - name: Run unit tests
        run: mvn -B test
